<form novalidate class="form">
	<input
  [(ngModel)]="newBook.title"
  [ngModelOptions]="{standalone: true}"
  value={this.newBook.title}
  placeholder="Title"  />
	<input
  [(ngModel)]="newBook.author"
  [ngModelOptions]="{standalone: true}"
  value={this.newBook.author}
  placeholder="Author"  />
	<input type="url"
  [(ngModel)]="newBook.image"
  [ngModelOptions]="{standalone: true}"
  value={this.newBook.image}
  placeholder="URL" />
	<textarea
  [(ngModel)]="newBook.description"
  [ngModelOptions]="{standalone: true}"
  value={this.newBook.description}
  placeholder="Description"
  ></textarea>
	<input type="number"
  [(ngModel)]="newBook.price"
  [ngModelOptions]="{standalone: true}"
  value={this.newBook.price}
  placeholder="Price" />

	<button (click)="isEdit ? editBook() : addBook()">Сохранить</button>
</form>

<div *ngFor="let book of books; let i = index">
	<h3>{{book.title}}</h3>
	<p>{{book.author}}</p>
	<img [src]="book.image" width="100px" /><br>
	<p>{{book.description}}</p>
	<p>Цена: {{book.price}} грн.</p>
	<button (click)="onClick(i)">Удалить</button>
	<button (click)="onClickEdit(i)">Редактировать</button>
</div>